body {
	background: #E5E5E5;
}

.accordion {
	width: 400px;
	margin: auto;
	margin-top: 50px;
	border: 1px solid #DEDEDE;
	font-family: consolas;
}

.header {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #DEDEDE;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	padding: 10px;
}

.header-button {
	padding: 10px;
}

.content {
	background-color: white;
	width: 100%;
	height: 70px;
}

.content-text {
	display: block;
	width: 95%;
	margin:auto;
	padding-top: 10px;
}